# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Anything in bin/, obj/, or dist/
bin/
obj/
dist/

# Sublime editor files or Visual Studio IDE specific files.
*.sublime-workspace
*.suo
*.user
*.opendb
*.VC.db
x64/
*.aps
.vs
