
/*
  Class used for the text wind that displays a summary of the layer with a gray
  background.
 */
.grayBack
{
  background-color: #cccccc;
  color: #333333;
  font-family: "Monospace";
  font-size: 0.60em;
}

/*
  Style the Export buttons!
 */
#exportPlaceFile
{
  color: black;
  background-image: -gtk-gradient(linear, left top, left bottom, from(#00cc00),
    to(#005500));
}
#exportKML
{
  color: white;
  background-image: -gtk-gradient(linear, left top, left bottom, from(#888888),
    to(#000000));
}
.exportButton
{
  font-size: 1.25em;
}
