
/*
  Class used for the text wind that displays a summary of the layer with a gray
  background.

  This doen't work in windows with the MSYS2 version of GTK3 3.20.1, at least
  for the TextView widget. The code for the buttons seems to work. If you want
  to change these colors, see the overrides made for the TextView widget in the
  AppUI.cpp file.
 */
.grayBack
{
  background-color: #cccccc;
  color: #333333;
  font-family: "Monospace";
  font-size: 0.60em;
}

/*
  Style the Export buttons!
 */
#exportPlaceFile
{
  color: black;
  background-image: -gtk-gradient(linear, left top, left bottom, from(#00cc00),
    to(#005500));
}
#exportKML
{
  color: white;
  background-image: -gtk-gradient(linear, left top, left bottom, from(#888888),
    to(#000000));
}
.exportButton
{
  font-size: 1.25em;
}
